/* =========================
SIDEBAR
========================= */

.side-menu{

  position:fixed;

  top:0;
  right:0;

  width:100%;

  max-width:360px;

  height:100vh;

  overflow-y:auto;

  overflow-x:hidden;

  box-sizing:border-box;

  background:#f5efe5;

  padding:
  100px 28px 40px;

  z-index:2000;
}
