/* =========================
HERO SECTION
========================= */

.hero-section{

  max-width:1400px;

  margin:0 auto;

  padding:120px 7%;

  display:grid;

  grid-template-columns:
  420px
  1fr;

  align-items:center;

  gap:80px;
}


/* =========================
LOGO
========================= */

.hero-logo{

  display:flex;

  justify-content:center;

  align-items:center;
}


/* =========================
CONTENT
========================= */

.hero-content{

  display:flex;

  flex-direction:column;

  gap:24px;
}


/* =========================
STATS
========================= */

.hero-stats{

  display:flex;

  flex-wrap:wrap;

  gap:12px;
}


/* =========================
HIGHLIGHTS
========================= */

.hero-highlights{

  display:flex;

  flex-wrap:wrap;

  gap:12px;
}
