/* =========================
HERO LOGO WRAPPER
========================= */

.hero-logo{

  display:flex;

  justify-content:center;

  align-items:center;

  margin-bottom:3rem;
}


/* =========================
HERO LOGO IMAGE
========================= */

.hero-logo img{

  width:300px;

  max-width:72%;

  height:auto;

  display:block;

  opacity:.96;
}


/* =========================
BACKGROUND LOGO
========================= */

.hero-background-logo{

  position:absolute;

  inset:0;

  background-image:
  url('../../assets/logo/logo.png.jpg');

  background-repeat:no-repeat;

  background-position:center;

  background-size:420px;

  opacity:.045;

  pointer-events:none;

  z-index:0;
}
