/* =========================
HERO SECTION
========================= */

.hero-section{

  position:relative;

  overflow:hidden;

  background:#f3ede2;
}


/* =========================
HERO BANNER
========================= */

.hero-section::before{

  content:"";

  position:absolute;

  top:2rem;

  left:30%;

  transform:translateX(-50%);

  width:min(80%,700px);

  height:280px;

  background-image:
  url("assets/images/banner-h.png");

  background-repeat:no-repeat;

  background-position:center;

  background-size:contain;

  opacity:.18;

  z-index:0;

  pointer-events:none;
}


/* =========================
HERO LOGO
========================= */

.hero-logo{

  display:flex;

  justify-content:center;

  align-items:center;

  margin-bottom:2rem;
}


.hero-logo img{

  width:250px;

  max-width:70%;

  height:auto;

  display:block;

  opacity:.98;

  filter:
  drop-shadow(
    0 10px 24px
    rgba(157,122,51,.12)
  );
}


/* =========================
BACKGROUND LOGO
========================= */

.hero-background-logo{

  position:absolute;

  inset:0;

  background-image:
  url("assets/logo/logo.png.jpg");

  background-repeat:no-repeat;

  background-position:
  center 10rem;

  background-size:560px;

  opacity:.025;

  pointer-events:none;

  z-index:0;
}


/* =========================
FEATURED PROJECT
========================= */

.featured-project{

  position:relative;

  overflow:hidden;

  background:#f3ede2;

  padding:120px 7%;

  text-align:center;

  border-top:
  1px solid rgba(200,169,107,.08);

  border-bottom:
  1px solid rgba(200,169,107,.08);
}


/* =========================
FEATURED PROJECT BANNER
========================= */

.featured-project::before{

  content:"";

  position:absolute;

  inset:0;

  background-image:
  url("assets/images/banner1.png");

  background-repeat:no-repeat;

  background-position:center;

  background-size:55% auto;

  opacity:.05;

  pointer-events:none;
}


/* =========================
FEATURED CONTENT
========================= */

.featured-project > *{

  position:relative;

  z-index:2;
}
