.hero-section{

  position:relative;

  overflow:hidden;

  background:#f7f2e8;
}


.hero-background-logo{

  opacity:1 !important;

  background-size:1400px !important;

  background-color:red !important;
}
