/* =========================
HERO SECTION
========================= */

.hero-section{

  position:relative;

  overflow:hidden;

  background:#f3ede2;

  min-height:105vh;
}


/* =========================
BACKGROUND LOGO
========================= */

.hero-background-logo{

  position:absolute;

  inset:0;

  background-image:
    url('../../../assets/logo/logo.png.jpg');

  background-repeat:no-repeat;

  background-position:
    center 4rem;

  background-size:760px;

  opacity:.085;

  pointer-events:none;

  z-index:0;
}
