/* =========================
HERO SECTION
========================= */

.hero-section{

max-width:1400px;

margin:0 auto;

padding:100px 7% 80px;

display:grid;

grid-template-columns:
320px
1fr;

align-items:center;

gap:80px;
}

/* =========================
LOGO
========================= */

.hero-logo{

display:flex;

justify-content:center;

align-items:center;
}

/* =========================
CONTENT
========================= */

.hero-content{

display:flex;

flex-direction:column;

gap:22px;
}

/* =========================
STATS
========================= */

.hero-stats{

display:flex;

flex-wrap:wrap;

gap:12px;

margin-top:10px;
}

/* =========================
HIGHLIGHTS
========================= */

.hero-highlights{

display:flex;

flex-wrap:wrap;

gap:12px;

margin-top:8px;
}

/* =========================
TABLET
========================= */

@media(max-width:1000px){

.hero-section{


grid-template-columns:1fr;

text-align:center;

gap:50px;

padding:80px 6% 70px;

}

.hero-content{


align-items:center;


}

.hero-stats{

justify-content:center;


}

.hero-highlights{


justify-content:center;


}

}

/* =========================
MOBILE
========================= */

@media(max-width:600px){

.hero-section{

padding:70px 5% 60px;


}

}
