/* =========================
RESEARCH LIBRARY CARD
========================= */

.current-research-card{

  text-decoration:none;

  color:inherit;
}


/* REMOVE LINK STYLE */

.current-research-card h3,
.current-research-card p,
.current-research-card span{

  text-decoration:none;

  color:inherit;
}
