/* =========================
DESKTOP HEADER RESET
========================= */

@media(min-width:1200px){

  .main-nav{

    display:block;

    flex:1;
  }


  .navbar-search{

    flex-shrink:0;

    max-width:none;

    overflow:visible;
  }


  .menu-toggle{

    display:flex;
  }


  .navbar-container{

    max-width:1400px;

    width:100%;

    margin:0 auto;

    padding:1.2rem 2rem;

    overflow:visible;

    gap:2rem;
  }

}
